.section {

  &-container {
    @include section-container;

    &--1 {
      @include section-container;

      @include respond(tab-port) {
        flex-direction: column; 
        text-align: center;
      }
    }

    &--2 {
      @include section-container;

      @include respond(tab-port) {
        flex-direction: column-reverse; 
        text-align: center;
      }
    }

    
  }
  
  &-1 {
    grid-row: 2/3;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    border-top: 8px solid #222;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: end;
      margin-top: 1.5rem;
      width: 90%;
      z-index: 2;

      @include respond(phone) {
        width: auto;
        padding: 0 2.7rem;
      }
    }

    &__img {
      position: relative;
      z-index: 1;

      @include respond(tab-port) {
        bottom: 4.5rem;
        
      }
      
      & img {
        height: auto;
        z-index: 1;
        max-width: 97%;

        @include respond(tab-port) {
          max-width: 92%;
        }

        @include respond(phone) {
          max-width: 100%;
        }
      }
    }

    &__vid {
      position: absolute;
      top: 6.5rem;
      left: 6.2rem;
      z-index: -1;
      
      @include respond(tab-port) {
        top: 7em;
        left: 10rem
      }

      @include respond(phone) {
        top: 5em;
        left: 5rem;
      }
      
      & video {

        width: 82%;
        height: auto;

        @include respond(tab-port) {
          width: 90%;
          height: 100%;
        }
        
      }
    }
    
  }

  &-2 {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;

    &__img {

      position: relative;
      bottom: 1rem;
      
      &--image {
        height: 30rem;

        @include respond(tab-port) {
          height: 56rem;
          bottom: 2rem;
          position: relative;
        }

        @include respond(phone) {
          height: 42rem;
        }
      }

      &--card {
        
        position: absolute;
        bottom: 2.5rem;
        left: 6rem;
        border-radius: 1.5rem;
        border: 2px solid #787878;
        height: 10rem;
        background-color: black;

        @include respond(tab-port) {
          bottom: 6.5rem;
          left: 14rem;
          width: 47rem;
        }

        @include respond(phone) {
          display: grid;

          bottom: 5.5rem;
          left: 4rem;
          width: 47rem;
          height: 12rem;
        }
        

        &-content {
          padding: 1rem;
          display: grid;
          grid-template-columns: min-content max-content min-content;
          grid-column-gap: 1rem;
          align-items: center;

          @include respond(tab-port) {
            grid-template-columns: min-content 1fr min-content;
          }
        }

        &__img {
          height: 7.5rem;
          margin-right: 0.5rem;

          @include respond(phone) {
            height: 8.5rem;
            margin-right: 2rem;
            margin-left: 1rem;
          }
        }

        &__text {
          display: grid;
          align-content: center;
          grid-row-gap: 0.4rem;    
          z-index: 1;

          @include respond(tab-port) {
            justify-self: start;
            justify-items: start;
            grid-row-gap: 0;
          }

          @include respond(phone){
            padding: 0 2.7rem;
          }

          & h3 {
            font-weight: 800;
            font-size: 1.6rem;

            @include respond(tab-port) {
              font-size: 2rem;
            }

            @include respond(phone) {
              font-size: 2.5rem;
            }
          }

          & h4 {
            color: #0384fc;
            font-weight: 300;
            
            font-size: 1.5rem;
            
            @include respond(tab-port) {
              font-size: 1.9rem;
            }

            @include respond(phone) {
              font-size: 2.2rem;
            }
          }         
        }

        &__gif {
          height: 5rem;

          @include respond(phone) {
            height: 8rem;
          }
        }
      }
    }

    &__text {
      z-index: 1;
      width: 90%;
    }
  }

  &-3 {
    grid-row: 4/5;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;

    &__text {
      width: 90%;
      
      @include respond(tab-port) {
        margin-top: 2rem
        
      }

      @include respond(phone){
        padding: 0 2.7rem;
      }
    }

    &__img {
      
      position: relative;
      z-index: 1;
      
      
      &--image {
        height: 34rem;

        @include respond(tab-port) {
          height: 55rem;
        }

        @include respond(phone) {
          height: 41rem;
        }
      }

      &--video {
        position: absolute;
        top: 3.5rem;
        left: 8.7rem;
        z-index: -1;

        @include respond(tab-port) {
          top: 5.5rem;
          left: 14rem;
        }

        @include respond(phone) {
          left: 12rem;
        }

        & video {
          height: 15.5rem;

          @include respond(tab-port) {
            height: 26rem;
          }

          @include respond(phone) {
            height: 22rem;
          }
        }
      }
    }
  }

  &-4 {
    grid-row: 5/6;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;

    &__img {
      
      &--image {
        width: 38.784rem;
        height: 29.088rem;

        @include respond(tab-port) {
          width: auto;
          max-width: 95%;
          height: auto;
        }
      }
    }

    &__text {
      margin-top: 2.5rem;
      width: 90%;

      @include respond(phone) {
        padding: 0 2.7rem;
      }
    }
  }

  &-faq {
    grid-row: 6/7;
    grid-column: 1/-1;
    
    padding: 7rem 4.5rem;
    text-align: center;

    &__content {
      display: grid;
      grid-template-rows: min-content min-content 1fr;
      justify-content: center;
      justify-items: center;

      & h1 {
        grid-row: 1/2;

        @include respond(phone) {
          font-size: 4rem;
        }
      }
    }

    .faq-list {
      list-style: none;
      grid-row: 2/3;
      width: 72%;
      // display: grid;
      justify-content: center;
      grid-row-gap: 0.1rem;
      margin: 4rem 0 4rem;

      @include respond(tab-port) {
        // margin-top: 0;
        width: 100%;
        margin: 3rem 0 3rem;
      }

      &-item {
        width: 100%;
        margin: 0 0 8px;
        position: relative;
      }
    }

    .faq-question {
      background: #303030;
      cursor: pointer;
      // box-sizing: content-box;
      width: 100%;
      min-height: 3.2994rem;
      border: none;
      color: #fff;
      // padding: .8em 2.2em .8em 1.2em;
      font-size: 2.6rem;
      text-align: start;
      position: relative;
      display: grid;

      &-text {
        transform: translateY(4px);
        padding: .8em 2.2em .8em 1.2em;
      }

      &-checkbox {
        display: none;

        &:checked ~ .faq-answer {
          max-height: 120rem;
        }

        &:checked ~ .plus-icon {
          transform: rotate(-45deg);
        }
      }

      .label-toggle {
        cursor: pointer;
        width: 100%;
        height: 7.4584rem;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }

      
    }

    .faq-answer {
      // max-height: 0;
      // overflow: hidden;
      // width: 64.1994rem;
      // background-color: $color-button;
      // border-top: 1px solid black;
      // transform: translate(-31px, 24px);
      // transition: max-height .25s cubic-bezier(.5,0,.1,1);

      max-height: 0;
      overflow: hidden;
      width: 100%;
      background-color: #303030;
      border-top: 1px solid black;
      // transform: translate(-34px, 27px);
      transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);

      @include respond(tab-port) {
        width: 100%;
        // transform: translate(-25px, 20px);
      }

      span {
        display: block;
        padding: 3.12rem;
        line-height: 3.3rem;
      }
    }

    // .open {
    //   max-height: 120rem;
      
    // }

    // .closed {
    //   max-height: 0;
    //   overflow: hidden;
    // }

    .faq-form {
      
      grid-row: 3/4; 
      margin-top: 2rem;

      display: grid;
      justify-items: center;

      & h3 {
        margin-bottom: 2rem;
        font-size: 2rem;

        @include respond(tab-port) {
          font-size: 3rem;
          // margin-left: 12rem;
          // margin-right: 12rem;
        }
      }

      &__div {
        width: 66rem;
        // margin-top: 2rem;

        @include respond(big-desktop) {
          width: 75rem;
          height: 7rem;
        }

        @include respond(desktop) {
          width: 66rem;
          height: 6rem;
        }

        @include respond(tab-port) {
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 110%;
        }

          &--input {
            width: 89%;
            height: 6rem;

            @include respond(big-desktop) {
              height: 7rem;
              width: 89%;
            }

            @include respond(desktop) {
              height: 6rem;
            }

            @include respond(tab-port) {
              height: 7rem;
              border-radius: 3px;
            }

            @include respond(phone) {
              width: 90%;
            }
          }

          &--label {
            position: absolute;
            color: grey;
            top: 54%;
            transform: translateY(-50%);
            left: 1.5rem;
            transition: all .1s;

            @include respond(big-desktop) {
              top: 54%;
            }
            @include respond(desktop) {
              top: 54%;
            }

            @include respond(tab-port) {
              top: 24%;
              left: 7%;
              font-size: 2rem;
            }

            @include respond(phone) {
              left: 12%;
            }
          }

          &--button {
            
            width: 41%;
            height: 4rem;
            
            font-size: 1.6rem;

            @include respond(big-desktop) {
              font-size: 3rem;
              width: 41%;
              height: 7rem;
            }

            @include respond(desktop) {
              font-size: 2.5rem;
              height: 6rem;
            }

            @include respond(tab-port) {
              border-radius: 4px;
              margin-top: 2rem;
              width: 20rem;
              font-size: 2.5rem;
            }
          }

        
      }
    }

    .plus-icon {
      height: 2.828rem;
      width: auto;
      position: absolute;
      right: 2rem;
      top: 2.1rem;
      filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(144deg) brightness(100%) contrast(104%);
    }
  }
}
